streamlit
pdfplumber
cnocr
opencv-python
pdf2image
pillow
numpy
opencv-python-headless
easyocr
pandas
xlsxwriter
gspread
streamlit
pdfplumber
pdf2image
easyocr
opencv-python-headless
pandas
xlsxwriter
gspread
google-auth